html {
    background-color: #076652;
    background-repeat: repeat-y;
    height: 100%;
    font-family: 'Cinzel', serif;
}

.masters {
    background-color: #076652;
    background-repeat: repeat-x;
} 

table.stats {
    font-size: medium;
}

.change-text {
    font-family: 'Cinzel', serif;
    font-weight: bold;
}


.change-bold {
    font-family: 'Cinzel', serif;
    font-weight: bolder;
}

body {
    font-family: 'Cinzel', serif;
    background-color: #076652;
    background-repeat: repeat-x;
}

.basic-navbar-nav {
    background-color: #076652;
}

.masters-gold{
    background-color: #eeec1a

}